.ontologies-wrapper {
    width: 100%;
    display: inline-block;
    height: 600px;
}

.ontologies-wrapper .vis {
    border: 1px solid lightgray;
    height: calc(100% - 25px);
}

.ontologies-wrapper div {
    text-align: center;
}

.left-ontology {
    float: left;
    width: calc(50% - 5px);
    height: 100%;
}

.right-ontology {
    float: right;
    width: calc(50% - 5px);
    height: 100%;
}