{% extends 'sqrt_platform/base.html' %}

{% load i18n static %}
{% get_language_info for get_current_language as lang %}

{% block content %}
<div class="calc-block">
  <form id="form" method="post" action="">
    {% csrf_token %}
    <fieldset class="module aligned ">
      <div id="number-block" class="form-row">
        <label>{% trans "Number / Expression" %}:</label> <input type="text" id="num" name="number" required/>
      </div>
      <div id="precision-block" class="form-row" hidden>
        <label>{% trans "Precision" %}:</label>
        <input type="number" min="1" max="1000" step="1" id="precin" value="16" name="precision" onkeyup="this.value = minmax(this.value, 1, 1000)"/>
        <input type="checkbox" id="use_precision" name="use_precision" hidden/>
      </div>
      <div class="form-row">
        <div style="margin-top: 10px">
          <textarea id="answ" readonly></textarea>
        </div>
        <div id="test">
        </div>
      </div>
      <div class="submit-row" style="margin-top: 10px">
        <input type="button" id="solve" value='{% trans "Calculate" %}'/>
        <input type="button" id="solve_ex" value='{% trans "Calculate expression" %}'/>
        <input type="button" id="precision_toggle" value='{% trans "Show precision" %}'/>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}

{% block head %}
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script>
  function post_form(post_url)
  {
    $.ajax({
        type: 'POST',
        url: post_url,
        data: $('#form').serialize(),
        // global: false,
        success: function(data, textStatus, request) {
          var output = document.getElementById('answ')
          output.value = request.responseText;
          autosize.update(output);
          output.resize = "vertical"
        },
        error: function(data, textStatus, request) {
          alert(request.responseText)
        }
      });
  }

  var get_sqrt = function () {
    post_form('{% url "sqrt_platform:get_sqrt" %}');
  };

  var get_sqrt_ex = function () {
    post_form('{% url "sqrt_platform:get_sqrt_ex" %}');
  }

  var toggle_precision_block = function() {
    prec_block = document.getElementById("precision-block")
    button = document.getElementById("precision_toggle")
    check = document.getElementById("use_precision")

    prec_block.hidden = !prec_block.hidden;
    check.checked = !check.checked;

    if (prec_block.hidden) {
      button.value = '{% trans "Show precision" %}'
    } else {
      button.value = '{% trans "Hide precision" %}'
    }
  }

  window.onload = function() {
    document.getElementById("solve").onclick = get_sqrt;
    document.getElementById("solve_ex").onclick = get_sqrt_ex;
    document.getElementById("precision_toggle").onclick = toggle_precision_block;

    autosize(document.getElementById('answ'));
  }

  function minmax(value, min, max) 
  {
      if(parseInt(value) < min || isNaN(parseInt(value))) 
          return min; 
      else if(parseInt(value) > max) 
          return max; 
      else return value;
  }
</script>
{% endblock %}