{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Ontology Generator | VReutov</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'ontogen/custom_base.css' %}" />
    <link rel="shortcut icon" href="{%  static 'ontogen/favicon.ico' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="container">
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="{% url 'ontogen:index' %}">Ontology Generator v. 0.3</a></h1>
            </div>
            <div id="user-tools">
                Welcome,
                {% if user.is_authenticated %}
                    <strong>{{ user }}</strong>
                {% else %}
                    <strong>guest</strong>
                {% endif %}    
            </div>
        </div>
        <div id="content" class="colM">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer"></div>
    </div>
</body>

</html>