{% load i18n %}
<div class="bot-modal-header">
    <span class="mod-close" id="modal-close">&times;</span>
    <h1>Добавить новый набор кадров</h1>
</div>
<form action="" method="post" id="form">
    {% csrf_token %}
    <fieldset class="aligned">
        <div class="form-row">
            <label for="frameset-name">Имя:</label>
            <input id="frameset-name" name="name" type="text" class="full-width" value="{{ name }}">
        </div>
        <div class="form-row">
            <input id="frameset-files" name="files" type="file" multiple>
            <ul class="errorlist">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </fieldset>
    <div class="submit-row">
        <input id="submit-form-button" type="button" value="{% trans "Save" %}" class="default"/>
    </div>
</form>

<script>
    $("#frameset-files").fileinput({
        language: 'ru',
        showUpload: false,
        allowedFileTypes: ["image"],
        initialPreviewShowDelete: true,
        removeFromPreviewOnError: true,
        layoutTemplates: {
            main1: "{preview}\n" +
            "<div class=\'input-group {class}\'>\n" +
            "   <div class=\'input-group-btn\ input-group-prepend'>\n" +
            "       {browse}\n" +
            "       {upload}\n" +
            "       {remove}\n" +
            "   </div>\n" +
            "   {caption}\n" +
            "</div>"
        },
        msgPlaceholder: 'Файлы не выбраны',
        fileActionSettings: {
            showRemove: true,
            showUpload: false,
            showZoom: false,
            showDrag: true
        }
    });
</script>