{% extends 'ontogen/base.html' %} {% block content %}
<div id="content-main">
    <form action="{% url 'ontogen:generate' %}" method="post" id="user_form">
        {% csrf_token %}
        <fieldset class="module">
            <legend>Select an instruction</legend>
            <div class="form-row">
                {% for instruction in instructions %}
                <input type="radio" name="instruction" id="instruction{{ forloop.counter }}" value="{{ instruction.id }}"/>
                <label for="instruction{{ forloop.counter }}">{{ instruction }}</label><br/>
                {% endfor %}
                <!--<input type="radio" name="instruction" id="instruction{{ forloop.counter }}" value="{{ instruction.id }}">
                <label for="instruction{{ forloop.counter }}">Custom</label><br/>
                <textarea rows="" cols=""></textarea>-->
            </div>
        </fieldset>
        <fieldset class="module">
            <legend>Select patterns you want to use</legend>
            <div class="form-row">
                {% for pattern in patterns %}
                <input type="checkbox" name="patterns[]" id="pattern{{ forloop.counter }}" value="{{ pattern.id }}"/>
                <label for="pattern{{ forloop.counter }}">{{ pattern }}</label><br/>
                {% endfor %}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Generate Ontology" class="default" name="_generate" />
        </div>
    </form>
</div>
{% endblock content %}